
<div><div ng-show="headerVisible"><div class="label">Header</div><input type="checkbox" ng-model="header"></div>
  <div ng-show="encoding && encodingVisible"><div class="label">Encoding</div><span>{{encoding}}</span></div>
  <div ng-show="separator && separatorVisible"><div class="label">Seperator</div><span><input class="separator-input" type="text" ng-change="changeSeparator" ng-model="separator"><span></div>
  <div>

    <input id="fileInput" type="file" file-reader="fileContent" accept=".csv" class="ng-hide"/>
    <md-input-container md-no-float>
      <md-button id="uploadButton" class="md-raised md-primary" aria-label="attach_file">Escolha o arquivo</md-button>
      <input id="textInput" ng-model="fileName" type="text" aria-label="Arquivo" placeholder="Nenhum arquivo selecionado" ng-readonly="true">
    </md-input-container>


  </div>
