<div layout="row" flex>
  <div id="print-page">



    <custom-tag ng-if="$ctrl.range" ng-repeat="number in $ctrl.range track by $index" base="number"></custom-tag>


  </div>


  <div layout="column" layout-padding class="no-print" flex="20">
    <md-input-container>
      <label>Início</label>
      <input numbers-only ng-model="inicio">
    </md-input-container>
    <md-input-container>
      <label>Final</label>
      <input numbers-only ng-model="fim">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="$ctrl.build()">Gerar</md-button>
    <md-button ng-if="$ctrl.range.length>0" class="md-raised md-warn no-print" onclick="window.print()">Imprimir</md-button>
  </div>
  <span flex></span>
</div>
