
<div id="print-page">
<md-content>
  <div layout="row">
    <div layout="column">

      <custom-tag ng-if="$ctrl.range" ng-repeat="number in $ctrl.range track by $index" base="number"></custom-tag>


    </div>
<input class="no-print button" type="button" value="Imprimir" onclick="window.print()">
    <span flex></span>
    <div layout="column" layout-padding>
      <md-input-container>
        <label>Início</label>
        <input numbers-only ng-model="inicio">
      </md-input-container>
      <md-input-container>
        <label>Final</label>
        <input numbers-only ng-model="fim">
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="$ctrl.build()">Gerar</md-button>
    </div>
    <span flex></span>

  </div>
</md-content>
</div
